*
{
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

html
{
    height: 100%;
}

main
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(163, 204, 223);
}

.titulo
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.conteudo
{
    height: 70%;
}

/*parte login*/

.login
{
    padding: 0 10%;
}

.login h3
{
    padding-bottom: 30px;
}

.credencial
{
    margin-bottom: 20px;
}

/*textos*/

main
{
    color: rgb(17, 17, 80);
}


h1
{
    font-size: 300%;
}


label {
  display: block;
}

.fieldset1 {
  width: 20%;

}

fieldset{
  width: 30%;
  margin: 0 auto;
  border-style:none;
}

h3
{
    font-size: 150%
  left
}

.login p
{
    text-align: center;
}

/*botoes*/

a{
    text-decoration: none;
    color: black;
}

button
{
    padding: 7px;
    color: black;
    border: none;
    border-radius: 10px;
}

.botoes
{
  display: flex;
  justify-content: space-between;
}

.botoes .gg
{
    background-color: white;
}
.botoes .face
{
  margin-left:auto;
    background-color: #3b5998;
}
.cadastrobotao
{
  display: flex;
  justify-content: space-between;
}
.botaocadastro 
{
    background-color: rgb(255, 22, 111);
    padding: 5px 0px;
}
.botaoconfirma
{
  margin-left:auto;
  background-color: none;
}

.cadastrobotao, .botoes{
  padding: 15px 0;
}